.buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
}

.clock {
width: 25%;
}

.watch {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 5px;
}

.watch strong {
}

.more {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.5);
}