.container {
    width: 30%;
    min-width: 250px;
    display: grid;
}

.wrapper {
    display: grid;
    grid-template-columns: 5% 85% 10%;
    column-gap: 20px;
}

.number {
    font-weight: bold;
}
